export DB_HOSTNAME=127.0.0.1
export DB_DBNAME=summer_intern_2018
export DB_USERNAME=root
export DB_PASSWORD=
export DB_PORT=3306
export HOST_ID=000
export ASSETS_PATH=$GOPATH/src/github.com/eure/si2018-second-half-2/assets/
export ASSETS_BASE_URI="https://si-2018-second-half-2.eure.jp/assets/"
